*  {
    margin: 0;
    padding: 0;
}
body {
    background-color: #090909;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin-top: 70px;
}

/* #####################################################
                        Текст
##################################################### */

a, p, h1, h2, h3, h4, b{
    color: #fff;
    text-decoration: none;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 22px;
}
li{
    color: #fff;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: 3.5px solid white;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
@media (max-width: 800px) {
    h2{
        font-size: 20px;
    }
    button{
        border: 2px solid #fff;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding: 10px;
    }
    .test img{
        height: 30px;
    }
}

/* #####################################################
                        Ховери
##################################################### */


.active-link {
    opacity: 0.5;
    cursor: default;
    pointer-events: auto;
}
.not-active {
    cursor: pointer;
    transition: opacity 500ms ease;
}
.not-active:hover {
    opacity: 0.5;
}

/* #####################################################
                        ХЕДЕР
##################################################### */

.container{
    max-width: 4000px;
}
header{
    background-color: #090909;
    width: 80%;
    padding: 0 10%;
    margin: 0 auto;
    position: fixed;
    top:0;
    z-index: 10;
}
.header{
    background-color: #090909;
    display: flex;
    width: 100%;
    height: 30px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 20px;
}
ul li:nth-last-child(2){
    margin-right: 0;
}
ul li:first-child{
    margin-right: 0;
}
.logo-div{
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo{
    height: 30px;
}
#home, .burger, #contact-left{
    display: none;
}
.burger-pic{
    color: #fff;
}
@media (max-width: 800px) {
    #home, .burger, #contact-left{
        display: block;
    }
    .right{
        display: none;
    }
    .burger{
        position: absolute;
        top: 20px;
        left: 5%;
    }
    .left ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        top: 63px;
        right: 0;
        background-color: rgba(9,9,9,0.95);
        align-items: center;
        transition: left 1s;
    }
    .left ul li{
        margin: 0 0 25px;
    }
    .left ul li a{
        font-size: 20px;
    }
    ul li:last-child{
        margin: 0px;
    }
    .not-active-menu{
        left: 0;
    }
    .active-menu{
        left: -100%;
    }
}
/* #####################################################
                        ФУТЕР
##################################################### */
footer{
    width: 80%;
    padding: 0 10%;
    margin: 0 auto;
}
footer ul{
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
footer div{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
@media (max-width: 1200px){
    footer div{
        display: block;
        text-align: center;
    }
    div li{
        margin-bottom: 10px;
    }
}
@media (max-width: 650px){
    footer div{
        width: 100%;
        margin-bottom: 10px;
    }
    footer ul{
        display: block;
    }
    footer ul li{
        font-size: 14px;
    }
}


/* #####################################################
                      Призентації
##################################################### */

#one{
    background-image: url('./pictures/presentation.png');
    margin-top: 70px;
}
#two{
    background-image: url('./pictures/presentation2.png');
}
#three{
    background-image: url('./pictures/presentation-catalog.png');
}
.presentation{
    padding: 17.5% 0;
    background-image: no-repeat;
    background-size: cover;
    background-position: top;
}
.presentation h2{
    text-align: center;
    margin: 10px 0;
}
.test img{
    display: block;
    margin: 0 auto;
}
.about{
    padding: 10% 0;
}

/* #####################################################
                        Про нас
##################################################### */

.aboutus{
    width: 80%;
    padding: 20px 10%;
    align-items: center;
}
.aboutus div{
    width: 40%;
}
@media (max-width: 800px) {
    .aboutus div{
        width: 100%;
        padding-top: 2px;
    }
}

/* #####################################################
                        Фільтр
##################################################### */

#flip{
    display: flex;
    cursor: pointer;
    transition: opacity 500ms ease;
    width: fit-content;
}
#flip h2{
    margin-right: 10px;
}
#flip:hover{
    opacity: 0.5;
    transition: transorm ;
}
#flip .icon{
    margin-left: 5px;
    transform: rotate(-90deg);
    transition: 0.5s ease;
}
.rotate-icon{
    transition: 0.5s ease;
    margin-left: 5px;
}
.not-slide{
    width: 100%;
    margin: 0 0 35px 0;
    margin-top: 25px;
    transition-property: margin-top, opacity, visibility;
    transition-duration: 0.5s;
}
.slide{
    width: 100%;
    margin: 0 0 35px 0;
    transition-property: margin-top, opacity, visibility;
    transition-duration: 0.5s;
    margin-top: -25px;
    visibility: hidden;
    opacity: 0;
}
.slide ul, .not-slide ul{
    display: flex;
}
.slide ul li, .not-slide ul li{
    color: #fff;
    margin-right: 20px;
    list-style: none;
}

/* #####################################################
                      Каталог
##################################################### */

.catalog {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:25px 10%;
}
.catalog .items {
    width: 30%;
    margin-bottom: 25px;
}
.catalog .items:last-child {
    margin-right: 35%;
}
.catalog .items .item-pic{
    overflow: hidden;
}
.catalog .items .item-pic a img{
    width: 100%;
    display: block;
    transition: transform 500ms ease;
    margin-bottom: 5px;

}
.catalog .items .item-pic img:hover{
    transform: scale(1.05);
}
@media (max-width: 800px) {
    .catalog .items {
        width: 45%;
    }
    .catalog .items h4{
        font-size: 18px;
    }
    .catalog .items b{
        font-size: 14px;
    }
    .catalog .items:last-child {
        margin-right: 0;
    }
}
@media (max-width: 389px) {
    .catalog .items {
        width: 100%;
    }
}

/* #####################################################
                      Контакти
##################################################### */

.contacts{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 10%;
    align-items: center;
}

/* #####################################################
                      ПРОДУКТ
##################################################### */


.itemInfo{
    margin: 100px 0;
    margin: 10px 10%;   
    width: 80%;
}
.itemInfo-desc p{
    border: 1px solid #fff;
    width: 30%;
    margin: 30px 0 50px 0;
    padding: 20px 0;
    text-align: center;
}
.itemInfo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.itemInfo-pic{
    width: 48%;
    height: 700px;
    margin-bottom: 50px;
    overflow: hidden;
}

.itemInfo-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
    transition: transform 500ms ease;
}
.itemInfo-pic img:hover{
    transform: scale(1.05);
}


/* #####################################################
   #####################################################

                      МОБІЛА

#####################################################
##################################################### */


@media (max-width: 800px) {
    /* .burger{
        display: block;
        position: absolute;
    }
    .burger-pic{
        color: #fff;
    }
    .left ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        top: 63px;
        right: 0;
        background-color: rgba(9,9,9,0.95);
        align-items: center;
        transition: left 1s;
    }
    .left ul li{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .left ul li a{
        font-size: 38px;
    }
    #contact-left{
        display: block;
    }
    .right{
        display: none;
    }
    .not-active-menu{
        left: 0;
    }
    .active-menu{
        left: -100%;
        background-color: aqua;
    }
    #home{
        display: block;
    } */






    main .items {
        width: 45%;
    }
  }
